{:nrepl {:port 8777}

 

 :source-paths ["src" "test"]

 :dependencies
 [[reagent "1.1.1"]
  [re-frame "1.4.2"]

  [binaryage/devtools "1.0.6"]
  [day8.re-frame/test "0.1.5"]]

 :profiles {:test {:dependencies [[day8.re-frame/test "0.1.5"]]}}

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules
   {:app {:init-fn sudoku.core/init}}
   :devtools
   {:preloads []}
   :dev
   {:compiler-options
    {:closure-defines
     { }}}}
  
  :test {:target :node-test
          :output-to "out/tests.js"
          :ns-regexp "-test$"}

  :browser-test {:target :browser-test
                 :test-dir "target/browser-test"
                 :ns-regexp "-test$"
                 :autorun   true}
  }}
